@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.container {
  background: #f3f5fc;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px 30px;
  min-height: 100vh;
  justify-content: center;
}
.col {
  padding: 5px;
  border-radius: 32px;
}
.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px;
  gap:15px;
}
.col-2 {
  max-width: 370px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.menu-entrada {
  margin-left: 20px;
}
.entrada {
  width: 100%;
  font-size: 32px;
  line-height: 150%;

  background: none;
  outline: 0px;

  color: #0a3871;
  margin: 0 auto;
}
.entrada-input {
  border: none;
  resize: none;
  color: #0a3871;
}
.advertencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  gap: 8px;
}
.advertencia-icon {
  width: 16px;
  height: 16px;
}
.advertencia-texto {
  width: 205px;
  height: 18px;

  font-size: 12px;
  line-height: 150%;

  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.boton {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  border: 1px solid #0a3871;

  font-size: 16px;
}
.boton{

    font-size: 16px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0a3871;
}
.btnCopiar {
    border: 1px solid #0a3871;
    border-radius: 24px;
    width: 100%;
    padding: 24px;
    background: #ffffff;
    font-size: 16px;
    line-height: 150%;
  }
.btn-blue {
  background: #0a3871;
  color: #ffffff;
}
.texto {
  width: 336px;
  height: 58px;

  text-align: center;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.texto-output {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #343a40;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.texto-input {
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.cuadro-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  padding: 20px;
}
.btn-gray {
  background: #ffffff;
}

.disable {
  display: none;
}
.enable {
  display: block;
}
.muneco {
  margin: 10px 0;
}
.txtResultado {
  font-size: 24px;
  line-height: 150%;
}
@media only screen and (max-width: 1050px) {
  .container {
    flex-direction: column;
  }
  .col {
    padding: 20px 5px;
  }
  .col-1 {
    justify-content: space-between;
  }
  .col-2 {
    max-width: initial;
    width: 100%;
  }
  .menu-entrada {
    margin: 0;
  }
  .muneco {
    display: none;
  }
  .texto {
    width: 100%;
  }
  .boton {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .botones {
    flex-direction: column;
  }
  .boton {
    width: 100%;
  }
}
